.subD-main-container3 {
    /* Container */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    gap: 50px;

    width: 1000px;
    height: 590px;

    /* Grey/12 */
    border: 1px solid #1F1F1F;
    border-radius: 20px;

    /* Inside auto layout */
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;

}
.heading-subD {
    /* Text Container */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 15px;

    width: 900px;
    height: 100px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.heading-subD h3 {
    /* Heading */

    width: 900px;
    height: 45px;

    font-weight: 600;
    font-size: 28px;
    line-height: 150%;
    /* identical to box height, or 42px */

    /* Absolute/White */
    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.heading-subD b {
    /* Paragraph */

    width: 900px;
    height: 55px;

    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */

    /* White Shades/50 */
    color: #808080;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}
.main-subD {
    /* Sub Container */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 30px;

    width: 900px;
    height: 330px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}
.content-subD {
    /* Container */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;

    width: 900px;
    height: 80px;

    /* Grey/12 */
    border: 1px solid #1F1F1F;
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.sub-content-subD {
    /* Sub Container */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 30px;
    gap: 10px;

    width: 300px;
    height: 78px;

    /* Grey/12 */
    border-right: 1px solid #1F1F1F;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;

}
.sub-content-subD h4 {
    /* Heading */

    width: 225px;
    height: 30px;

    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */

    /* Absolute/White */
    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;

}
.main-content-subD {
    /* Container */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;

    width: 900px;
    height: 225px;

    /* Grey/12 */
    border: 1px solid #1F1F1F;
    border-radius: 12px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}
.sub-main-content-subD {
    /* Sub Container */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;

    width: 895px;
    height: 75px;

    /* Grey/12 */
    border-bottom: 1px solid #1F1F1F;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.sub-sub-main-content-subD {
    /* Container */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 30px;
    gap: 10px;

    width: 300px;
    height: 72px;

    /* Grey/12 */
    border-right: 1px solid #1F1F1F;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;

}
.sub-sub-main-content-subD span {
    /* Text */

    width: 250px;
    height: 27px;

    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */

    /* White Shades/55 */
    color: #8C8C8C;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;

}