* {
    background-color: #0F0F0F;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Sora', sans-serif;
    width: 1500px;
    overflow-x: hidden;
    margin-left: 125px;
    position: relative;
    left: 650px;
}
#sub-spanA ,
#sub-spanB ,
#sub-spanC ,
#sub-spanD {
    color: #FFFFFF;
}