* {
    background-color: #0F0F0F;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Sora', sans-serif;
    width: 1500px;
    overflow-x: hidden;
}
.header-bar-body{
    position: relative;
    left: -1px;
    justify-content: space-between;
    border-bottom: 1px;
    padding: 50px 200px 50px 200px;
    color: #0F0F0F33;
    width: 100%;
    height: auto;
}
#logo {
    width: 75px;
    height: 54px;
}
.header-menu {
    /* Buttons Container */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 30px;
    color: #FFFFFF;

    margin: 0;
    width: 100%;
    height: 55px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    position: absolute;
    left: 800px;
    top: 50px;
}
#text-button ,
#text-button2 ,
#text-button3 ,
#text-button4 ,
#text-button5 ,
#text-button6 ,
#text-button7 {
    gap: 10px;
}

#text-button2 {
    border: 1px solid #1F1F1F;
    border-radius: 84px;
    width: 127px;
    height: 55px;
    background: #1A1A1A;
    padding: 16px 24px 16px 24px;
}
.container {
    max-width: 100%;
    height: 500px;
    position: relative;
    top: 103px;
}
.sub-container {
    gap: 25px;
    /* Abstract Design */

    position: absolute;
    width: 100%;
    height: 500px;
    left: 0;
    top: 0;

    background: radial-gradient(33.77% 33.74% at 50% 0%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0) 100%);

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;

}
.text-container {
    /* Text Container */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 300px 100px 300px;
    gap: 20px;

    max-width: 75%;
    height: 525px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}
.heading-text {
    /* Heading */

    width: 750px;
    height: 150px;

    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    line-height: 150%;
    /* or 87px */

    /* Absolute/White */
    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
#sub-heading{
    font-weight: 600;
    font-size: 37px;
    line-height: 150%;
    letter-spacing: 0;
    color: #666666;
}
.heading-pharagraph {
    /* Paragraph */

    width: 1050px;
    height: 135px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */

    /* White Shades/50 */
    color: #808080;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}
.container2 {
    /* Container */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 50px;

    position: absolute;
    width: 100%;
    height: 1500px;
    left: 150px;
    top: 850px;

}
.text-container2 {
    /* Text Container */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 20px;

    width: 100%;
    height: 200px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.heading-text2{
    /* Heading */

    width: 1200px;
    height: 72px;

    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    line-height: 150%;
    /* identical to box height, or 72px */
    text-align: center;

    /* Grey/40 */
    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
#sub-heading2 {
    color: #666666;
}
.heading-pharagraph2{
    /* Paragraph */

    width: 1158px;
    height: 200px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    text-align: center;

    /* White Shades/50 */
    color: #808080;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}
.sub-container2{
    /* Sub Container */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 30px;

    width: 100%;
    height: 1500px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}
.item-content {
    /* Items Container */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 30px;

    width: 1200px;
    height: 650px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.cardA {
    /* Card */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 80px 80px;
    gap: 50px;
    isolation: isolate;

    max-width: 600px;
    height: 600px;

    background: url(../asset/images/item-card.png), linear-gradient(180deg, rgba(32, 32, 32, 0.2) 0%, rgba(32, 32, 32, 0) 100%);
    background-blend-mode: overlay, normal;
    backdrop-filter: blur(6px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;

}
.design {
    /* Abstract Design */

    position: absolute;
    width: 850px;
    height: 850px;
    left: calc(50% - 850px/2);
    top: 0;

    background: radial-gradient(79.32% 79.39% at 50% 1.84%, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 52.01%);

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;

}
.icon-cardA{
    /* Icon Container */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    position: absolute;
    top: 10%;

    width: 175px;
    height: 175px;

    background: linear-gradient(180deg, #1A1A1A 0%, rgba(26, 26, 26, 0) 56.6%);
    border-radius: 100px;
    border: 1px solid #1F1F1F;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;

}
.sub-iconA{
    /* Icon Container */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 10px;

    width: 132px;
    height: 132px;

    background: linear-gradient(180deg, #1A1A1A 0%, rgba(26, 26, 26, 0) 65.8%);
    border-radius: 100px;
    border: 1px solid #1F1F1F;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}
.sub-sub-iconA {
    /* Icon Container */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;

    width: 84px;
    height: 84px;

    background: linear-gradient(180deg, #1A1A1A 0%, rgba(26, 26, 26, 0) 100%);
    border-radius: 75px;
    border: 1px solid #1F1F1F;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}
.main-iconA {
    /* Icon */

    width: 44px;
    height: 44px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    background: linear-gradient(180deg, #1A1A1A 0%, rgba(26, 26, 26, 0) 100%);

}
.iconA {
    border-radius: 50px;
    background: linear-gradient(180deg, #1A1A1A 0%, rgba(26, 26, 26, 0) 100%);
}
.item-textA {
    /* Text Container */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 20px;

    width: 500px;
    height: 200px;
    margin-bottom: 50px;


    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    z-index: 2;
    position: relative;
    top: 125px;
    left: -55px;

}
.item-heading-text {
    /* Heading */

    width: 550px;
    height: 45px;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 45px */
    text-align: center;

    /* Absolute/White */
    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.item-article {
    /* Paragraph */

    width: 550px;
    height: 135px;

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    /* or 27px */
    text-align: center;

    /* White Shades/55 */
    color: #8C8C8C;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}
.footer-cardA {
    /* Container */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: 10px;

    max-width: 500px;
    height: 68px;


    /* Inside auto layout */
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
    z-index: 3;
    position: relative;
    top: 50px;
    left: -60px;

}
.footer-text {
    /* Text */

    width: 350px;
    height: 30px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */

    /* Grey/40 */
    color: #666666;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

.footer-button{
    /* Button */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 12px;

    width: 215px;
    height: 68px;

    /* Grey/12 */
    border: 1px solid #1F1F1F;
    border-radius: 100px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}
.button-text {
    /* Text */

    width: 101px;
    height: 27px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */

    /* Absolute/White */
    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}
.main-button {
    /* Container */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;

    width: 68px;
    height: 48px;

    /* Grey/10 */
    background: #1A1A1A;
    border-radius: 135px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}
#icon-button {
    /* Icon */

    width: 28px;
    height: 28px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    background: #1A1A1A;
}
.cardB {
    /* Card */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 80px 80px;
    gap: 50px;
    isolation: isolate;

    max-width: 600px;
    height: 600px;

    background: url(../asset/images/item-card.png), linear-gradient(180deg, rgba(32, 32, 32, 0.2) 0%, rgba(32, 32, 32, 0) 100%);
    background-blend-mode: overlay, normal;
    backdrop-filter: blur(6px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;

}
.designB{
    /* Abstract Design */

    position: absolute;
    width: 850px;
    height: 850px;
    left: calc(50% - 850px/2);
    top: 0;

    background: radial-gradient(79.32% 79.39% at 50% 1.84%, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 52.01%);

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;

}
.icon-cardB {
    /* Icon Container */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    position: absolute;
    top: 10%;

    width: 175px;
    height: 175px;

    background: linear-gradient(180deg, #1A1A1A 0%, rgba(26, 26, 26, 0) 56.6%);
    border-radius: 100px;
    border: 1px solid #1F1F1F;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;


}
.sub-iconB {
    /* Icon Container */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 10px;

    width: 132px;
    height: 132px;

    background: linear-gradient(180deg, #1A1A1A 0%, rgba(26, 26, 26, 0) 65.8%);
    border-radius: 100px;
    border: 1px solid #1F1F1F;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}
.sub-sub-iconB {
    /* Icon Container */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;

    width: 84px;
    height: 84px;

    background: linear-gradient(180deg, #1A1A1A 0%, rgba(26, 26, 26, 0) 100%);
    border-radius: 75px;
    border: 1px solid #1F1F1F;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}
.main-iconB {
    /* Icon */

    width: 44px;
    height: 44px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    background: linear-gradient(180deg, #1A1A1A 0%, rgba(26, 26, 26, 0) 100%);
}
.iconB {
    border-radius: 50px;
    background: linear-gradient(180deg, #1A1A1A 0%, rgba(26, 26, 26, 0) 100%);;
}
.item-textB {
    /* Text Container */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 20px;

    width: 500px;
    height: 200px;
    margin-bottom: 50px;


    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    z-index: 2;
    position: relative;
    top: 125px;
    left: -55px;

}
.item-heading-textB {
    /* Heading */

    width: 550px;
    height: 50px;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 45px */
    text-align: center;

    /* Absolute/White */
    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.item-articleB {
    /* Paragraph */

    width: 550px;
    height: 135px;

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    /* or 27px */
    text-align: center;
    justify-items: center;

    /* White Shades/55 */
    color: #8C8C8C;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}
.footer-buttonB {
    /* Container */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: 10px;

    max-width: 500px;
    height: 68px;


    /* Inside auto layout */
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
    z-index: 3;
    position: relative;
    top: 50px;
    left: -60px;

}
.button-textB {
    /* Text */

    width: 350px;
    height: 30px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */

    /* Grey/40 */
    color: #666666;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;

}

.main-buttonB {
    /* Button */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 12px;

    width: 215px;
    height: 68px;

    /* Grey/12 */
    border: 1px solid #1F1F1F;
    border-radius: 100px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}
.text-btn {
    /* Text */

    width: 101px;
    height: 27px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */

    /* Absolute/White */
    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}
.icon-btn {
    /* Container */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;

    width: 68px;
    height: 48px;

    /* Grey/10 */
    background: #1A1A1A;
    border-radius: 135px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}
.item-contentB {
    /* Items Container */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 30px;

    width: 1200px;
    height: 650px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}
.cardC {
    /* Card */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 80px 80px;
    gap: 50px;
    isolation: isolate;

    max-width: 600px;
    height: 600px;

    background: url(../asset/images/item-card.png), linear-gradient(180deg, rgba(32, 32, 32, 0.2) 0%, rgba(32, 32, 32, 0) 100%);
    background-blend-mode: overlay, normal;
    backdrop-filter: blur(6px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;

}
.designC {
    /* Abstract Design */

    position: absolute;
    width: 850px;
    height: 850px;
    left: calc(50% - 850px/2);
    top: 0;

    background: radial-gradient(79.32% 79.39% at 50% 1.84%, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 52.01%);

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;

}
.icon-cardC {
    /* Icon Container */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    position: absolute;
    top: 10%;

    width: 175px;
    height: 175px;

    background: linear-gradient(180deg, #1A1A1A 0%, rgba(26, 26, 26, 0) 56.6%);
    border-radius: 100px;
    border: 1px solid #1F1F1F;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;

}
.sub-iconC {
    /* Icon Container */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 10px;

    width: 132px;
    height: 132px;

    background: linear-gradient(180deg, #1A1A1A 0%, rgba(26, 26, 26, 0) 65.8%);
    border-radius: 100px;
    border: 1px solid #1F1F1F;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}
.sub-sub-iconC {
    /* Icon Container */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;

    width: 84px;
    height: 84px;

    background: linear-gradient(180deg, #1A1A1A 0%, rgba(26, 26, 26, 0) 100%);
    border-radius: 75px;
    border: 1px solid #1F1F1F;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}
.main-iconC {
    /* Icon */

    width: 44px;
    height: 44px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}
.iconC {
    background: linear-gradient(180deg, #1A1A1A 0%, rgba(26, 26, 26, 0) 100%);
}
.item-textC {
    /* Text Container */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 20px;

    width: 550px;
    height: 200px;


    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    z-index: 2;
    position: relative;
    top: 125px;
    left: -55px;

}
.item-heading-textC {
    /* Heading */

    width: 550px;
    height: 45px;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 45px */
    text-align: center;

    /* Absolute/White */
    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.item-articleC {
    /* Paragraph */

    width: 550px;
    height: 135px;

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    /* or 27px */
    text-align: center;

    /* White Shades/55 */
    color: #8C8C8C;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}
.item-btn {
    /* Container */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: 10px;

    max-width: 500px;
    height: 68px;


    /* Inside auto layout */
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
    z-index: 3;
    position: relative;
    top: 75px;
    left: -60px;

}
.btn-text {
    /* Text */

    width: 350px;
    height: 30px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */

    /* Grey/40 */
    color: #666666;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;

}

.main-btn {
    /* Button */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 12px;

    width: 215px;
    height: 68px;

    /* Grey/12 */
    border: 1px solid #1F1F1F;
    border-radius: 100px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}
.main-btn-text {
    /* Text */

    width: 101px;
    height: 27px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */

    /* Absolute/White */
    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}
.btn-icon {
    /* Container */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;

    width: 68px;
    height: 48px;

    /* Grey/10 */
    background: #1A1A1A;
    border-radius: 135px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}
.cardD {
    /* Card */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 80px 80px;
    gap: 50px;
    isolation: isolate;

    max-width: 600px;
    height: 600px;

    background: url(../asset/images/item-card.png), linear-gradient(180deg, rgba(32, 32, 32, 0.2) 0%, rgba(32, 32, 32, 0) 100%);
    background-blend-mode: overlay, normal;
    backdrop-filter: blur(6px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;

}
.designD {
    /* Abstract Design */

    position: absolute;
    width: 850px;
    height: 850px;
    left: calc(50% - 850px/2);
    top: 0;

    background: radial-gradient(79.32% 79.39% at 50% 1.84%, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 52.01%);

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;

}
.icon-cardD {
    /* Icon Container */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    position: absolute;
    top: 10%;

    width: 175px;
    height: 175px;

    background: linear-gradient(180deg, #1A1A1A 0%, rgba(26, 26, 26, 0) 56.6%);
    border-radius: 100px;
    border: 1px solid #1F1F1F;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;

}
.sub-iconD {
    /* Icon Container */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 10px;

    width: 132px;
    height: 132px;

    background: linear-gradient(180deg, #1A1A1A 0%, rgba(26, 26, 26, 0) 65.8%);
    border-radius: 100px;
    border: 1px solid #1F1F1F;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}
.sub-sub-iconD {
    /* Icon Container */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;

    width: 84px;
    height: 84px;

    background: linear-gradient(180deg, #1A1A1A 0%, rgba(26, 26, 26, 0) 100%);
    border-radius: 75px;
    border: 1px solid #1F1F1F;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}
.main-iconD {
    /* Icon */

    width: 44px;
    height: 44px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}
.iconD {
    background: linear-gradient(180deg, #1A1A1A 0%, rgba(26, 26, 26, 0) 100%);
}
.item-textD {
    /* Text Container */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 20px;

    width: 550px;
    height: 200px;


    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    z-index: 2;
    position: relative;
    top: 125px;
    left: -55px;

}
.item-heading-textD {
    /* Heading */

    width: 550px;
    height: 45px;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 45px */
    text-align: center;

    /* Absolute/White */
    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.item-articleD {
    /* Paragraph */

    width: 550px;
    height: 135px;

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    /* or 27px */
    text-align: center;

    /* White Shades/55 */
    color: #8C8C8C;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}
#sub-spanA ,
#sub-spanB ,
#sub-spanC ,
#sub-spanD {
    color: #FFFFFF;
}
.container3 {
    /* Container */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 80px;

    position: absolute;
    width: 100%;
    height: 3000px;
    left: 150px;
    top: 2500px;

}
.text-container3 {
    /* Text Container */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 20px;

    width: 100%;
    height: 175px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.heading-text3 {
    /* Heading */

    width: 1158px;
    height: 72px;

    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    line-height: 150%;
    /* identical to box height, or 72px */
    text-align: center;

    /* Grey/40 */
    color: #666666;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
#main-heading3 {
    color: #FFFFFF;
}
.heading-pharagraph3 {
    /* Paragraph */

    width: 1100px;
    height: 85px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    text-align: center;

    /* White Shades/50 */
    color: #808080;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}
.sub-container3 {
    /* Sub Container */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 60px;
    position: relative;
    right: 75px;

    width: 100%;
    height: 2900px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}
.button-container3 {
    /* Buttons Container */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 20px;

    width: 300px;
    height: 360px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}
.buttonA {
    /* Button */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px;
    gap: 10px;

    width: 311px;
    height: 75px;

    /* Grey/10 */
    background: #1A1A1A;
    border-radius: 12px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.buttonB {
    /* Button */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px;
    gap: 10px;

    width: 311px;
    height: 75px;

    /* Grey/12 */
    border: 1px solid #1F1F1F;
    border-radius: 12px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}
.iconAA {
    /* Icon */

    width: 25px;
    height: 25px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    background: #1A1A1A;
}
.iconAA2 {
    /* Icon */

    width: 25px;
    height: 25px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}
.text-btnA {
    /* Text */

    width: 250px;
    height: 27px;

    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 150%;
    /* identical to box height, or 27px */

    /* Absolute/White */
    color: #FFFFFF;
    background-color: #1A1A1A;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;

}
.text-btnA span {
    background-color: #1A1A1A;
}
.text-btnB {
    /* Text */

    width: 250px;
    height: 27px;

    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    /* identical to box height, or 27px */

    /* Absolute/White */
    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;

}
.main-container3 {
    /* Container */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 80px;

    width: 1000px;
    height: 2900px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;

}
.text-main-container3 {
    /* Text Container */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 10px;

    width: 1000px;
    height: 164px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.heading-textA {
    /* Heading */

    width: 1000px;
    height: 42px;

    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 150%;
    /* identical to box height, or 42px */

    /* Absolute/White */
    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.pharagraph-textA {
    /* Paragraph */

    width: 950px;
    height: 100px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 27px */

    /* White Shades/55 */
    color: #8C8C8C;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}
.sub-main-container3 {
    /* Sub Container */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 30px;

    width: 1000px;
    height: 2670px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}
.subA-main-container3 {
    /* Container */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 35px;
    gap: 50px;

    width: 1000px;
    height: 608px;

    /* Grey/12 */
    border: 1px solid #1F1F1F;
    border-radius: 20px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.heading-subA {
    /* Heading */

    width: 900px;
    height: 42px;

    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 150%;
    /* identical to box height, or 42px */

    /* Absolute/White */
    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.sub-subA {
    /* Sub Container */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 50px;

    width: 900px;
    height: 400px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}
.sub-sub-subA {
    /* Container */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 50px;

    width: 900px;
    height: 158px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.text-sub-sub-subA {
    /* Text Container */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 0;
    gap: 14px;

    width: 450px;
    height: 150px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;

    /*line*/
    border-width: 0 1px 0 0;
    border-color: #1A1A1A;
    border-style: solid;

}
.heading-sub-sub-subA {
    /* Heading */

    width: 425px;
    height: 30px;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */

    /* White Shades/80 */
    color: #CCCCCC;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.pharagraph-sub-sub-subA {
    /* Paragraph */

    width: 425px;
    height: 54px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */

    /* White Shades/55 */
    color: #8C8C8C;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}
.text-sub-sub-subAA {
    /* Text Container */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 0;
    gap: 14px;

    width: 450px;
    height: 150px;


    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 1;

}
.heading-sub-sub-subAA {
    /* Heading */

    width: 425px;
    height: 30px;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */

    /* White Shades/80 */
    color: #CCCCCC;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.pharagraph-sub-sub-subAA {
    /* Paragraph */

    width: 425px;
    height: 54px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */

    /* White Shades/55 */
    color: #8C8C8C;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}
.line {
    /* Line */

    width: 900px;
    height: 0;

    /* Grey/12 */
    border: 1px solid #1F1F1F;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}
.sub-sub-subA2 {
    /* Container */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 50px;

    width: 900px;
    height: 150px;


    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

}
.text-sub-sub-subA2 {
    /* Text Container */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 0;
    gap: 14px;

    width: 450px;
    height: 150px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;

    /*line*/
    border-width: 0 1px 0 0;
    border-color: #1A1A1A;
    border-style: solid;

}
.heading-sub-sub-subA2 {
    /* Heading */

    width: 425px;
    height: 30px;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */

    /* White Shades/80 */
    color: #CCCCCC;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.pharagraph-sub-sub-subA2 {
    /* Paragraph */

    width: 425px;
    height: 54px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */

    /* White Shades/55 */
    color: #8C8C8C;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}
.text-sub-sub-subAA2 {
    /* Text Container */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 0;
    gap: 14px;

    width: 450px;
    height: 150px;


    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 1;

}
.heading-sub-sub-subAA2 {
    /* Heading */

    width: 425px;
    height: 30px;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */

    /* White Shades/80 */
    color: #CCCCCC;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.pharagraph-sub-sub-subAA2 {
    /* Paragraph */

    width: 425px;
    height: 54px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */

    /* White Shades/55 */
    color: #8C8C8C;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}